@use "fonts.scss";
@use "elements.scss";
@use "responsive.scss";

$text-color: #7a7a7a;
$color-turquoise: #3cb3ab;
$color-silver-light: #fafafa;
$color-silver-dark: #2f2f2f;
$color-turquoise-dark: #147a73;

.confirmation__wrapper {

  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  z-index: 0;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  color: black;
  padding: 143px 24px;
  flex-direction: column;
  @include responsive.desktopScreen {
  }
}
.confirmation {
  &__card {
    max-width: 400px;
    padding: 32px 24px 40px 24px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include responsive.desktopScreen {
      max-width: 540px;
      padding: 48px;
    }
  }
  &__icon {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      height: 90px;
      width: 90px;
      margin-bottom: 47.5px;
    }
  }
  &__title {
    @include fonts.h3;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 16px;
    }
  }
  &__text {
    @include fonts.body;
    text-align: center;
    margin-bottom: 32px;
  }
  &__btn {
    @include elements.btn;
    padding: 15px 32px 16px 33px;
    width: fit-content;
  }
}