@use "fonts.scss";
@use "responsive.scss";

$text-color: #7a7a7a;
$color-turquoise: #3cb3ab;
$color-silver-light: #fafafa;
$color-silver-dark: #2f2f2f;
$color-turquoise-dark: #147a73;

@mixin btn {
  background-color: $color-turquoise;
  border-radius: 33.5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $color-turquoise-dark;
  }
}
@mixin card {
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin innerCard {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 24px;
  @include responsive.desktopScreen {
    padding: 38px 32px 32px 32px;
  }
}

@mixin innerCardTitle {
  @include fonts.h3;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  @include responsive.desktopScreen {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin innerCardSubtitle {
  @include fonts.h3;
  color: $color-turquoise;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 24px;
  @include responsive.desktopScreen {
    font-size: 15px;
    line-height: 18px;
  }
}

@mixin border {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
