@use "fonts.scss";
@use "elements.scss";
@use "responsive.scss";
@use "global.scss";
@use "header.scss";

$text-color: #7a7a7a;
$color-turquoise: #3cb3ab;
$color-silver-light: #fafafa;
$color-silver-dark: #2f2f2f;
$color-turquoise-dark: #147a73;

.page {
  margin-top: 192px;
  padding: 0 24px 40px 24px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include responsive.desktopScreen {
    padding: 0 355px 124px 355px;
    margin-top: 247px;
  }
  &__hero {
    @include elements.card;
    margin-top: 28px;
    padding: 0 23.5px 40px 23.5px;
    border-radius: 8px;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      padding: 0 48px 48px 48px;
      width: 730px;
    }
  }
  &__hero-icon {
    margin-top: -30px;
    margin-bottom: 24px;
  }
  &__hero-title {
    @include fonts.h2;
    margin-bottom: 16px;
  }
  &__hero-content {
    @include fonts.body;
    margin-bottom: 24px;
  }
  &__hero-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    @include responsive.desktopScreen {
      justify-content: space-between;
    }
  }
  &__hero-btn {
    @include elements.btn;
    margin-right: 9px;
    padding: 17px 42px 19px 42px;
    width: 214px;
    @include responsive.desktopScreen {
      width: 204px;
      padding: 0;
    }
  }
  &__hero-bookmark {
    cursor: pointer;
    margin-right: 16px;
    &:hover {
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
  }
  &__hero-bookmark-circle {
    &:focus {
      fill: $color-turquoise-dark;
      outline: none;
    }
  }

  &__stats {
    @include elements.card;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 23px 40px 25px;
    background-color: white;
    margin-bottom: 24px;
    min-width: 327px;
    align-self: center;
    max-width: 600px;
    @include responsive.smallScreen {
      min-width: 272px;
    }
    @include responsive.desktopScreen {
      padding: 48px;
      max-width: unset;
      width: 730px;
    }
  }
  &__stats-details-wrapper {
    @include responsive.desktopScreen {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 37px;
    }
  }
  &__stats-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include responsive.desktopScreen {
      justify-content: flex-start;
      width: 100%;
      height: 66px;
      border-right: solid 1px rgba(0, 0, 0, 0.15);
    }
  }
  &__stats-number {
    @include fonts.h1;
    margin-bottom: 9px;
    margin-top: 24px;
    @include responsive.desktopScreen {
      margin: 0;
      width: 100%;
      text-align: left;
    }
  }
  &__stats-text {
    @include fonts.body;
    line-height: 17px;
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    @include responsive.desktopScreen {
      padding: 0;
      border: none;
      width: 100%;
    }
  }
  &__stats-bar {
    width: 100%;
    height: 12px;
    background-color: $color-silver-light;
    border-radius: 33.5px;
  }
  &__stats-bar-progress {
    width: 50%;
    height: 12px;
    background-color: $color-turquoise;
    border-radius: 33.5px;
    z-index: 1;
  }
  &__about {
    max-width: 600px;
    @include elements.card;
    padding: 40px 24px 76px 24px;
    @include responsive.desktopScreen {
      padding: 48px;
      max-width: unset;
      width: 730px;
    }
  }
  &__about-title {
    @include fonts.h3;
    margin-bottom: 24px;
    align-self: flex-start;
  }
  &__about-text {
    @include fonts.body;
    text-align: left;
    margin-bottom: 35px;
    @include responsive.desktopScreen {
      margin-bottom: 40px;
    }
  }
  &__about-reward-card {
    @include elements.innerCard();
  }
  &__about-reward-card-title-wrapper {
    @include responsive.desktopScreen {
      display: flex;
      justify-content: space-between;
    }
  }
  &__about-reward-card-title {
    @include elements.innerCardTitle();
  }
  &__about-reward-card-subtitle {
    @include elements.innerCardSubtitle();
  }
  &__about-reward-card-text {
    @include fonts.body;
    text-align: left;
    margin-bottom: 24px;
  }
  &__about-reward-details-wrapper {
    @include responsive.desktopScreen {
      display: flex;
      justify-content: space-between;
    }
  }
  &__about-reward-details {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__about-reward-details-no {
    @include fonts.h1;
    margin-right: 8px;
  }
  &__about-reward-details-text {
    @include fonts.body;
    font-size: 15px;
    line-height: 18px;
    @include responsive.desktopScreen {
      font-size: 15px;
      line-height: 18px;
    }
  }
  &__about-reward-btn {
    @include elements.btn;
    padding: 15px 33px 16px 32px;
    width: fit-content;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    @include responsive.desktopScreen {
      height: 48px;
    }
  }
}

.modal__wrapper {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  z-index: 0;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  color: black;
  padding: 121px 24px 120px 24px;
  flex-direction: column;
  @include responsive.desktopScreen {
    padding: 184px 355px 280px 355px;
  }
}
.modal {
  @include elements.card;
  margin: 0 auto;
  padding: 32px 24px;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  @include responsive.desktopScreen {
    padding: 48.5px 48px 24.5px 48px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      margin-bottom: 16px;
    }
  }

  &__title {
    @include fonts.h3;
    @include responsive.desktopScreen {
      line-height: 29px;
    }
  }
  &__icon-close {
    height: 14px;
    width: 14px;
    @include responsive.desktopScreen {
      margin-top: -32px;
    }
  }
  &__icon-close-path {
    &:hover {
      opacity: 1;
    }
  }
  &__text {
    @include fonts.body;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      text-align: left;
      width: 100%;
      margin-bottom: 32px;
    }
  }
  &__form-card {
    @include elements.innerCard;
    @include responsive.desktopScreen {
      padding: 32px 28px;
      display: grid;
      grid-template-rows: 24px 56px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 17px;
    }
  }
  &__form-card-title {
    display: flex;
    align-items: center;
    margin-bottom: 33px;

    @include responsive.desktopScreen {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      margin-bottom: 0;
    }
  }
  &__form-card-title-text {
    @include fonts.h3;
    &:hover {
      color: $color-turquoise;
      cursor: pointer;
    }
    @include responsive.desktopScreen {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__form-card-radio {
    margin-right: 16px;
    height: 24px;
    width: 24px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  &__form-card-checkmark {
    position: absolute;
    top: 9px;
    left: -40px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    @include responsive.desktopScreen {
      top: 4px;
    }
  }
  &__form-card-title-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__form-card-title {
    @include elements.innerCardTitle();
    margin-bottom: 0;
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: 40px;
    @include responsive.desktopScreen {
      display: flex;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__form-card-subtitle-text {
    @include elements.innerCardSubtitle();
    margin-bottom: 0;
    margin-top: 8px;
    &:hover {
      cursor: pointer;
    }
    @include responsive.desktopScreen {
      margin-top: 0;
      margin-left: 17px;
    }
  }
  &__form-card-text {
    @include fonts.body;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      margin-left: 40px;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 2;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }
  &__form-card-details {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    @include responsive.desktopScreen {
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 5;
    }
  }
  &__form-card-details-no {
    @include fonts.h3;
    margin-right: 8px;
    @include responsive.desktopScreen {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__form-card-details-text {
    @include fonts.body;
    @include responsive.desktopScreen {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__pledge {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    @include elements.border();
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 24px;
    border: solid 2px $color-turquoise;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    @include responsive.desktopScreen {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 28px;
    }
  }
  &__pledge-text {
    @include fonts.body;
    line-height: 28px;
    margin-bottom: 16px;
    @include responsive.desktopScreen {
      margin-bottom: 0;
    }
  }
  &__pledge-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      margin-bottom: 0;
    }
  }
  &__pledge-input-wrapper {
    @include elements.border();
    padding: 15px 24px;
    border-radius: 33.5px;
    @include fonts.body;
    line-height: 17px;
    font-weight: 700;
    height: 48px;
    margin-right: 16px;
    min-width: 100px;
    display: flex;
    align-items: center;
    &:hover {
      border-color: $color-turquoise-dark;
    }
  }
  &__pledge-input {
    border: none;
    @include fonts.body;
    line-height: 17px;
    font-weight: 700;
    color: black;
    width: 39px;
    margin-left: 8px;
    &:focus-visible {
      outline: none;
    }
  }
  &__pledge-btn {
    @include elements.btn();
    padding: 15px 25px 16px 26px;
    height: 48px;
    @include fonts.body;
    line-height: 17px;
    font-weight: 700;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.modal__form-card-title input:checked ~ .modal__form-card-checkmark {
  background-color: white;
}
.modal__form-card-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.modal__form-card-title input:checked ~ .modal__form-card-checkmark::after {
  display: block;
}

.modal__form-card-title .modal__form-card-checkmark::after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $color-turquoise;
}

//confirmation card
.confirmation__wrapper {

  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  z-index: 0;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  color: black;
  padding: 143px 24px;
  flex-direction: column;
  @include responsive.desktopScreen {
  }
}

.confirmation {
  &__card {
    max-width: 400px;
    padding: 32px 24px 40px 24px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include responsive.desktopScreen {
      max-width: 540px;
      padding: 48px;
    }
  }
  &__icon {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      height: 90px;
      width: 90px;
      margin-bottom: 47.5px;
    }
  }
  &__title {
    @include fonts.h3;
    margin-bottom: 24px;
    @include responsive.desktopScreen {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 16px;
    }
  }
  &__text {
    @include fonts.body;
    text-align: center;
    margin-bottom: 32px;
  }
  &__btn {
    @include elements.btn;
    padding: 15px 32px 16px 33px;
    width: fit-content;
  }
}

.-silver-hero {
  display: none;
  @include responsive.desktopScreen {
    display: flex;
    background-color: $color-silver-light;
    color: $text-color;
    align-items: center;
    margin-right: 0;
    width: 174px;
    &:hover {
      background-color: $color-silver-light;
      opacity: 0.5;
      color: $text-color;
    }
    &:focus {
      background-color: $color-turquoise-dark;
      opacity: 0.05;
      color: $color-turquoise-dark;
    }
  }
}

.-silver-card {
  background: $color-silver-dark;
  opacity: 0.5;
}

.-inactive {
  opacity: 0.5;
  cursor: default;
}

.-display-none {
  display: none;
}

.-checked {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  border: solid 2px $color-turquoise;
  border-bottom: none;
}

.-card-modifier-1 {
  border: solid 2px $color-turquoise;
}

.-top-modifier {
  top: -5px;
  @include responsive.desktopScreen {
    top: 0px;
  }
}

.-padding-left {
  @include responsive.desktopScreen {
    padding-left: 47px;
  }
}

.-no-border {
  border: none;
}

.-unchecked {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
